
	<div class="center-title">
		<img src="./uploads/avatar_1.png" alt="">
		<h5>深焦</h5>
		<p>巴黎成立、成员遍及世界的影迷手册，提供欧洲及北美最新电影资讯和批评，亦是各大电影节和电影工业的深度观察家</p>
		<a href="javascript:;">去豆瓣主页</a>
	</div>
	<div class="item">
		<ul class="posts">
			<!-- 文章 -->
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
					<div class="brief">
						<p>那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>朝圣山南扎央宗--探索藏文化之源</h3>
					<div class="brief">
						<div class="gallery">
							<div class="img-box">
								<img src="./uploads/post_3.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_4.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_5.png" alt="">
							</div>
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
					<div class="brief">
						<p>那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
					<div class="brief">
						<p>那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
		</ul>
	</div>