
	<div class="item">
		<!-- 日期分类 -->
		<div class="mark">喜欢（2）</div>
		<ul class="posts">
			<!-- 文章 -->
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>朝圣山南扎央宗--探索藏文化之源</h3>
					<div class="brief">
						<div class="gallery">
							<div class="img-box">
								<img src="./uploads/post_3.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_4.png" alt="">
							</div>
							<div class="img-box">
								<img src="./uploads/post_5.png" alt="">
							</div>
						</div>
					</div>							
				</div>
			</li>
			<li>
				<span href="javascript:;" class="tag">去远方</span>
				<div class="cont">
					<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
					<div class="brief">
						<p>那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清</p>
						<div class="thumb">
							<img src="./uploads/post_1.png" alt="">
						</div>
					</div>							
				</div>
			</li>
		</ul>
	</div>